serviceAccount:
  create: true
  annotations:
    eks.amazonaws.com/role-arn: "${role_arn}"
secretProviderClass:
  enabled: true
  spec:
    provider: aws
    parameters:
      objects: |
        - objectName: "${secretsmanager_arn}"
          objectType: "secretsmanager"
          jmesPath: 
            - path: envJson
              objectAlias: env.json
            - path: apihubJson
              objectAlias: apihub.json