serviceAccount:
  create: true
  annotations:
    eks.amazonaws.com/role-arn: "${role_arn}"
secretProviderClass:
  enabled: true
  spec:
    provider: aws
    parameters:
      objects: |
        - objectName: "${secretsmanager_arn}"
          objectType: "secretsmanager"
          jmesPath: 
            - path: nodekey
              objectAlias: nodekey
