function handler(event) {
  var response = event.response;
  var headers = response.headers;

  // Set HTTP security headers
  // Since JavaScript doesn't allow for hyphens in variable names, we use the dict["key"] notation
  
  headers['strict-transport-security'] = { value: 'max-age=63072000; includeSubdomains; preload' }; 
  headers['content-security-policy'] = { value: "default-src 'self'; img-src 'self' data:; connect-src ${connect_src}; frame-src ${frame_src} unsafe-hashes ${frame_src_unsafe_hashes}; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-hashes' ${script_src_unsafe_hashes}" }; 
  headers['x-content-type-options'] = { value: 'nosniff' }; 
  headers['x-frame-options'] = { value: 'SAMEORIGIN' }; 
  headers['x-xss-protection'] = { value: '1; mode=block' };  

  // Return the response to viewers 
  return response;
}
