COMPANY_NAME=${company_name}
NETWORK_NAME=${network_name}
TMP_FOLDER_PATH=${env_dir_path}/tmp
NETWORK_CONFIG_PATH=${env_dir_path}
privateFolder=${env_dir_path}/private
advancedFolder=${env_dir_path}/private/advanced
qnPath=${env_dir_path}/private/advanced/quorum-node
ethPath=${env_dir_path}/private/advanced/ethadapter
epiPath=${env_dir_path}/private/advanced/epi
qnValuesPath=${env_dir_path}/private/advanced/quorum-node/my-values.yaml
ghInfoPath=${env_dir_path}/private/github.info.yaml
newNetworkService=${env_dir_path}/private/advanced/quorum-node/new-network-service.yaml
joinNetworkInfo=${env_dir_path}/private/advanced/quorum-node/join-network.info.yaml
joinPath=${net_dir_path}/editable/${company_name}/join
qnInfoPath=${env_dir_path}/private/qn-0.info.yaml
ethInfoPath=${env_dir_path}/private/ethadapter.info.yaml
epiInfoPath=${env_dir_path}/private/epi.info.yaml
epiServicePath=${env_dir_path}/private/advanced/epi/epi-service.yaml
smartContractInfoPath=${env_dir_path}/private/advanced/smartContract.info.yaml
ethValuesPath=${env_dir_path}/private/advanced/ethadapter/my-values.yaml
ethServicePath=${env_dir_path}/private/advanced/ethadapter/ethadapter-service.yaml
updatePartnersInfo=${env_dir_path}/private/update-partners.info.yaml

genesisGethPath=${net_dir_path}/genesis-geth.json
enodePath=${net_dir_path}/editable/${company_name}/enode
validatorPath=${net_dir_path}/editable/${company_name}/validator
