git_shared_configuration:
  repository_name: "${repository_name}"
  read_write_token: ""

git_upload:
  enabled: true
  email: "terraform.pla.health"
  user: "terraform"
  git_repo_storage_path: "networks"
